name: Test Pull Request

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  ubuntu-laravel-11:
    name: Laravel ${{ matrix.laravel-versions }} PHP ${{ matrix.php-versions }} ${{ matrix.operating-system }}



    runs-on: ${{ matrix.operating-system }}



    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-20.04, ubuntu-22.04]
        php-versions: ['8.2', '8.3']
        laravel-versions: ['11.*', '12.*']



    steps:
      - uses: matriphe/laravel-pkg-test-action@v2
        with:
          operating_system: ${{ matrix.operating-system }}
          php_version: ${{ matrix.php-versions }}
          laravel_version: ${{ matrix.laravel-versions }}
          phpunit_args: --group unit
          laravel_install_args: --prefer-dist --no-progress --no-suggest --optimize-autoloader --no-plugins
          package_install_args: --prefer-dist --no-progress --no-suggest --optimize-autoloader --no-plugins



      - name: Run Ubuntu Tests
        run: vendor/bin/phpunit --group ubuntu



      - name: Run Larinfo Command
        run: php vendor/bin/testbench larinfo

  macos-laravel-11:
    name: Laravel ${{ matrix.laravel-versions }} PHP ${{ matrix.php-versions }} ${{ matrix.operating-system }}



    runs-on: ${{ matrix.operating-system }}



    strategy:
      fail-fast: false
      matrix:
        operating-system: [macos-13, macos-14]
        php-versions: ['8.2', '8.3']
        laravel-versions: ['11.*', '12.*']



    steps:
      - uses: matriphe/laravel-pkg-test-action@v2
        with:
          operating_system: ${{ matrix.operating-system }}
          php_version: ${{ matrix.php-versions }}
          laravel_version: ${{ matrix.laravel-versions }}
          phpunit_args: --group unit
          laravel_install_args: --prefer-dist --no-progress --no-suggest --optimize-autoloader --no-plugins
          package_install_args: --prefer-dist --no-progress --no-suggest --optimize-autoloader --no-plugins



      - name: Run MacOS Tests
        run: vendor/bin/phpunit --group macos



      - name: Run Larinfo Command
        run: php vendor/bin/testbench larinfo

  windows-laravel-11:
    name: Laravel ${{ matrix.laravel-versions }} PHP ${{ matrix.php-versions }} ${{ matrix.operating-system }} without com_dotnet



    runs-on: ${{ matrix.operating-system }}



    strategy:
      fail-fast: false
      matrix:
        operating-system: [windows-2019, windows-2022]
        php-versions: ['8.2', '8.3']
        laravel-versions: ['11.*', '12.*']
        php-extension: ['8.2', '8.3', '8.4', 'pdo_sqlite,sqlite3,fileinfo', 'pdo_sqlite,sqlite3,fileinfo,com_dotnet']



    steps:
      - uses: matriphe/laravel-pkg-test-action@v2
        with:
          operating_system: ${{ matrix.operating-system }}
          php_version: ${{ matrix.php-versions }}
          laravel_version: ${{ matrix.laravel-versions }}
          phpunit_args: --group unit
          laravel_install_args: --prefer-dist --no-progress --no-suggest --optimize-autoloader --no-plugins
          package_install_args: --prefer-dist --no-progress --no-suggest --optimize-autoloader --no-plugins
          php_extensions: ${{ matrix.php-extension }}
          shell_name: pwsh



      - name: Run Windows Tests
        shell: pwsh
        run: vendor/bin/phpunit --group windows



      - name: Run Larinfo Command
        shell: pwsh
        run: php vendor/bin/testbench larinfo
